<h1>{{this.event.eventName}} ({{this.event.eventYear}})</h1>
<h3>Country</h3> 
<ul>
{{this.event.countryName}}
</ul>
<h3>US Actions</h3>
<ul>
{{this.event.actionName}}  -  {{this.event.actionDescription}}
</ul>
<h3>Individuals</h3>
<ul>
{{this.event.individualName}}  -  {{this.event.individualRole}}
</ul>


<h3>Country</h3>
{{#each this.countries}}{{name}}{{#unless @last}}, {{/unless}}{{/each}}