<style>
  table {
    width: 100%;
    border-collapse: collapse;
  }
  th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
  }
li::marker {
  color: #28a745;
}
  p, h1, h2, h3, a, ul, li, nav-link {
    color: #28a745;}

a:hover {
  color: #0d5d20;
}
</style>

<h1>{{event.eventName}} ({{event.eventYear}})</h1>


<h3>Country</h3>
<ul>
{{#each event.countries}}
  <li>{{this}}</li>
  </ul>
{{/each}}


<h3>US Action</h3>
<ul>
{{#each event.usActions}}
  <li>{{this.actionName}} - {{this.actionDescription}}</li>
  </ul>
{{/each}}

<h3>Individuals</h3>
<ul>
  {{#each event.individuals}}
    <li>{{this.individualName}} - {{this.individualRole}}</li>
  {{/each}}
</ul>





