<h1>{{this.title}} ({{this.event.eventName}})</h1>
<h3>Country</h3> 
<ul>
{{this.event.countryName}}
</ul>
<h3>US Actions</h3>
<ul>
{{this.event.actionName}}  -  {{this.event.actionDescription}}
</ul>

