<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="/css/custom/custom_bootstrap.css" />
</head>
<body data-bs-theme="vapor">
    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>

    <nav class="navbar navbar-expand-lg bg-body-terinary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Imperial Footprints</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" href="/countries">Countries</a>
                <a class="nav-link" href="/events">Events</a>
                <a class="nav-link" href="/individuals">Individuals</a>
                <a class="nav-link" href="/us_actions">US Actions</a>
            </div>
        </div>
    </div>
</nav>


    <div class="container">
        {{{body}}}
        {{#if flash}}
        <div class="alert alert-dismissible fade show alert-{{flash.type}}" role="alert">
            <strong>{{flash.intro}}</strong> {{{flash.message}}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {{/if}}
    </div>
</body>
</html>

