<style>
li::marker {
  color: #28a745;
}
p, h1, h2, h3, a, li, ul, nav-link {
    color: #28a745;font-family: monospace;}
</style>

<div class="country">
<h1>{{ country.countryName }}</h1>
{{#if events.length}}
  <p>{{ country.countryName }} was involved in the following events:</p>
  <ul>
    {{#each events}}
      <li>{{ this.eventName }}</li>
    {{/each}}
  </ul>
{{else}}
  <p>{{ country.countryName }} was not involved in any events.</p>
{{/if}}
</div>