<style>
  table {
    width: 100%;
    border-collapse: collapse;
  }
  th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
  }
li::marker {
  color: #28a745;
}
  p, h1, h2, h3, a, nav-link {
    color: #28a745;}
</style>

<h1>US Action Glossary</h1>
<a href="/us_actions/form"></a>
<h2>A glossary list of US Actions</h2>

{{#each countries}}
<li>

<p><b>{{this.actionName}}</b>  -  {{this.actionDescription}}</p>
<!-- <a href="/us_actions/form?id={{this.id}}"><b>{{this.actionName}}</b>  -  {{this.actionDescription}} </a>-->

</li>
{{/each}}
